@import url('https://fonts.googleapis.com/css?family=Sanchez|Titillium+Web|Roboto');
@import "./fa/fontawesome.scss";
@import "./fa/solid.scss";
@import "./fa/brands.scss";
$link-color: #339ec2;
$fa-font-path: "../../webfonts";
$header-font: 'Titillium Web', sans-serif;
// $header-font: 'Roboto', sans-serif;
$body-font-size: 100%;
$line-height: 1.5;
// $font-body: 'Sanchez', serif;
$bg-color: #333;
$text-color: #ddd;
$font-body: 'Roboto', serif;
